<table id="heroTable" class="table">
  <thead>
    <tr>
      <th>Persona</th>
      <th>Alias</th>
      <th>Superpower</th>
      <th>Superpower Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hero in hl.heroes">
      <td><input type="text" ng-model="hero.persona" ng-value="hero.persona" name="persona" class="form-control" /></td>
      <td><input type="text" ng-model="hero.alias" ng-value="hero.alias" name="alias" class="form-control" /></td>
      <td><select ng-model="hero.name" ng-options="power.name as power.name for power in hl.powers">
        <option value="">{{hero.name}}</option>
      </select></td>
      <td>{{hero.description}}</td>
      <td><button class="status_button btn xsmall" ng-click="hl.editHero(hero)">Edit Hero</button></td>
      <td><button class="status_button btn xsmall" ng-click="hl.deleteHero(hero)">Remove Hero</button></td>
    </tr>
  </tbody>
</table>
