<table id="heroTable" class="table">
  <thead>
    <tr>
      <th>Persona</th>
      <th>Alias</th>
      <th>Superpower</th>
      <th>Superpower Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="heroData in hl.heroes">
      <td>{{heroData.persona}}</td>
      <td>{{heroData.alias}}</td>
      <td>{{heroData.name}}</td>
      <td>{{heroData.description}}</td>
      <td><button class="status_button btn xsmall" ng-click="hl.removeHero(heroData)">Remove Hero</button></td>
    </tr>
  </tbody>
</table>
